<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HW Analytics App - Browser</title>
</head>
<header class="user_header">
    <div>
        <img src="/static/logo.svg" alt="logo"> HW Analytics App
    </div>
    <a href="/" class="home">Home</a>
    <a href="/about" class="about">About</a>
</header>
<body>
    <main>
        <section>
            <h2>Analyizing by Browser</h2>
            <div>
            <img src="{{ url_for('viz_3') }}" alt="chart">
            </div>
        </section>
       
    </main>
</body>
</html>