<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="main.css">
        <body>
            <section>
                <h1 class="first">I'm learning html</h1>
                <p>My name is Mohamed and this is my project</p>
                <p>With html and Css, I can make more and more</p>
            </section>
           <article class="Forecasting">
                <h1 class="sub">Forecasting page</h1>
                <p>Today is <em>hot</em> today</p>
           </article>
        </body>
    </head>
</html>